<footer class="page-footer" style="padding-top: 0">
  <div class="footer-copyright">
    <div class="container">
      © 2021 Tecchi CRM Módulo Vendas @ Thiago Zanluca v {{ version }}
    </div>
  </div>
</footer>
