<div class="navbar-fixed">
  <nav class="navbar white">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo grey-text text-darken-4">Tecchi-CRM</a>
      <a
        class="dropdown-trigger"
        data-target="dropdown1"
        href="#"
        id="avatar-topright-dropdown-trigger"
        style="float: right; height: 46px; margin: 9px"
      >
        <img
          src="images/img_avatar.png"
          alt=""
          class="circle responsive-img"
          style="height: 46px"
      /></a>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" id="logout-btn">Sair</a></li>
      </ul>
      <!-- <img src="images/15081.svg" alt="" class="circle responsive-img" /> -->
    </div>
  </nav>
</div>
