<ul
  id="slide-out"
  class="sidenav"
  style="
    background-color: transparent;
    height: auto;
    top: auto;
    box-shadow: none;
  "
>
  <li
    style="
      background-color: #ee6e73;
      margin: 8px 0;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    "
  >
    <a
      href="/inventory"
      class="logo-container white-text"
      id="sidenav-inventory"
      >Produtos<i class="material-icons left white-text">shopping_basket</i></a
    >
  </li>
  <li
    style="
      background-color: #ee6e73;
      margin: 8px 0;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    "
  >
    <a href="/contacts" class="logo-container white-text" id="sidenav-contacts"
      >Clientes<i class="material-icons left white-text">person</i></a
    >
  </li>
  <li
    style="
      background-color: #ee6e73;
      margin: 8px 0;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    "
  >
    <a href="/invoices" class="logo-container white-text" id="sidenav-invoices"
      >Faturas<i class="material-icons left white-text">description</i></a
    >
  </li>
  <li
    style="
      background-color: #ee6e73;
      margin: 8px 0;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    "
  >
    <a
      href="/paymentsreceived"
      class="logo-container white-text"
      id="sidenav-paymentsreceived"
      >Pagamentos<i class="material-icons left white-text"
        >monetization_on</i
      ></a
    >
  </li>
</ul>
