<ul
  id="sidenav-left"
  class="sidenav sidenav-fixed"
  style="transform: translateX(0px)"
>
  <li>
    <a href="/invoices" class="logo-container"
      >Vendas<i class="material-icons left">description</i></a
    >
  </li>
  <li>
    <a href="/contacts" class="logo-container"
      >Clientes<i class="material-icons left">person</i></a
    >
  </li>
  <li>
    <a href="/inventory" class="logo-container"
      >Produtos<i class="material-icons left">shopping_basket</i></a
    >
  </li>
</ul>
