<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Empresa</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Recebível</th>
      <th>Crédito</th>
    </tr>
  </thead>

  <tbody>
    {{#each contacts}}
    <tr>
      <td>Alvin</td>
      <td>Eclair</td>
      <td>$0.87</td>
    </tr>
    {{else}}
    <tr>
      <td colspan="6">Não há clientes cadastrados.</td>
    </tr>
    {{/each}}
  </tbody>
</table>
